#root {
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  padding: 12px;
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  background-color: #222222;
  border-bottom: 2px solid #272727;
}

.activeNav{
  color:blueviolet;
}